<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />

    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button type="button" class="btn btn-danger pull-left" onclick="return rollbackButton();">RollBack</button>
          <button type="button" class="btn btn-default pull-right" onclick="return addToBookMark();">
            <span class="glyphicon glyphicon-star"></span> 加入收藏夹
          </button>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <hr />
        </div>
        <div class="col-md-3"></div>
      </div>
      <% if (success) { %>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%=success%>
        </div>
        <div class="col-md-3"></div>
      </div>
      <% } %>
      <% if (error) { %>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%=error%>
        </div>
        <div class="col-md-3"></div>
      </div>
      <% } %>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <input type="text" class="form-control" id="search" placeholder="Search" onkeyup="search(this.value);">
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary" onclick="chargeButton();">Charge</button>
        </div>
        <div class="col-md-3"></div>
      </div>

      <br/>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="col-md-2"><input id="all" type="checkbox" checked></th>
                <th>top</th>
                <th>balance</th>
                <th><a href="/add"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
              </tr>
            </thead>
            <tbody>
            <% members.sort(function (a, b) { return a.balance>b.balance; }); %>
            <% for (var i=0; i<members.length; i++) { %>
              <tr class="member">
                <td><input class="single" type="checkbox" value="<%=members[i].email%>" checked></td>
                <td><a><%=members[i].name%></a></td>
                <td>&yen;<%=Math.round(members[i].balance*1000000)/1000000%></td>
                <td><a href="/detail/<%=members[i].email%>"><i class="glyphicon glyphicon-pencil"></i></a></td>
              </tr>
            <% } %>
            </tbody>
          </table>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <hr />
          <h3>How to use <abbr title="an AA method for baidu shanghai ps team" class="initialism">AA</abbr>:</h3>
          <ol>
            <li>Check the checkbox of each one who have eaten the meal.</li>
            <li>Select the one who paid the money.</li>
            <li>Input the amount of money that was paid.</li>
            <li>Press the 「Continue」 button.</li>
            <li>If you are required for PASSCODE for authentication,<br />please contact: <a href="mailto:chenkan@baidu.com">陈侃</a> or <a href="mailto:qujingying@baidu.com">曲晶莹</a></li>
          </ol>
          <hr />
          <h4 class="text-warning"><strong>Note that:</strong> Emails will be sent to those who have eaten the meal.</h4>
          <h4 class="text-danger"><strong>Be careful</strong> when you select who have enjoied the meal!!!</h4>
        </div>
        <div class="col-md-3"></div>
      </div>
  	</div>
    <div class="modal fade" id="chargeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Step 2 - Who paid the money?</h4>
          </div>
          <div class="modal-body" id="modal-body">
            <select class="form-control" id="payer">
              <% for (var i=0; i<members.length; i++) { %>
                <option value="<%=members[i].email%>"><%=members[i].name%>&nbsp;&nbsp;(&yen;<%=members[i].balance%>)</option>
              <% } %>
            </select>
            <br />
            <label for="money">Money Paid</label>
            <div class="input-group">
              <span class="input-group-addon">&yen;</span>
              <input type="text" id="money" name="money" class="form-control" placeholder="Money Paid">
              <span class="input-group-addon">.00</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="return charge();">Continue</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="rollbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Rollback to When?</h4>
          </div>
          <div class="modal-body" id="modal-body">
            <h4 class="text-danger"><b>This is Dangerous!!!</b></h4>
            <select class="form-control" id="time">
              <% for (var i=0; i<backups.length; i++) { %>
              <% var date = new Date(parseInt(backups[i].time)).toString(); %>
                <option value="<%=backups[i].time%>"><%=date%></option>
              <% } %>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" id="continue" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="rollback" class="btn btn-danger" onclick="return rollback();">RollBack</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function chargeButton () {
        $.each($("#modal-body option"), function (index, value) {
          value.style.display = "";
        })
        var selected_number = 0;
        $.each($(".member"), function (index, value) {
          var input = value.children[0].children[0];
          if (!input.checked) {
            $.each($("#modal-body option"), function (index, value) {
              if ((value.value+" "+value.innerHTML).match(input.value)) {
                value.style.display = "none";
              }
            });
          } else {
            selected_number++;
            $.each($("#modal-body option"), function (index, value) {
              if (value.innerHTML.match(input.value)) {
                value.style.display = "";
              }
            });
          }
        });
        if (selected_number == 0)
          alert("囧，先选几个人再说呀。")
        else
          $("#chargeModal").modal("show");
      }
      function search (str) {
        var members = $(".member");
        var hidden = [];
        var results = [];

        if (str == "") {
          for (var i=0; i<members.length; i++) {
            members[i].style.display = "";
          }
          return false;
        }
        for (var i=0; i<members.length; i++) {
          members[i].style.display = "";
          if (members[i].innerHTML.match(str)) {
            results.push(members[i]);
          } else {
            hidden.push(members[i]);
          }
        }
        hidden.forEach(function (node) {
          node.style.display = "none";
        });
        return false;
      }
      function charge () {
        var members = [];
        $.each($(".member"), function (index, value) {
          var input = value.children[0].children[0];
          if (input.checked) {
            members.push(input.value);
          }
        });
        var payer = $("#payer").val();
        var money = $("#money").val();
        if (money == "") {
          alert("亲~ 先告诉我花了多少钱嘛！");
        }
        var continueBtn = $("#continue");
        continueBtn.prop("disabled", true);
        $.ajax({
          url: '/charge',
          type: "POST",
          data: {payer: payer, members: members, money: money},
          success: function () {
            continueBtn.prop("disabled", false);
            window.location = "/";
          },
          error: function () {
            continueBtn.prop("disabled", false);
            window.location = "/";
          }
        })
      }
      $(".single").change(function () {
        var boo = true;
        $.each($(".single"), function (index, value) {
          if (!value.checked) {
            boo = false;
          }
        });
        if (boo) $("#all").prop("checked", true);
        else $("#all").prop("checked", false);
      });
      $("#all").change(function () {
        if ($("#all").is(":checked")) {
          $.each($(".single"), function (index, value) {
            value.checked = true;
          });
        } else {
          $.each($(".single"), function (index, value) {
            value.checked = false;
          });
        }
      });
      function addToBookMark() {
        if (confirm("Are you sure you want to add this site to your bookmark?")) {
          // window.external.addFavorite(this.href,this.title);
          try {
            window.external.addFavorite(URL, title);         //ie
          } catch(e) {
            try {
              window.sidebar.addPanel(title, URL, "");       //firefox
            } catch(e) {
                alert("加入收藏失败，请使用Ctrl+D进行添加");     //chrome opera safari
            }
          }
        }
        return false;
      }
      function rollbackButton () {
        $("#rollbackModal").modal("show"); 
      }
      function rollback () {
        var time = $("#time").val();
        if (time == null) {
          alert("哪有要回滚的东西啊！")
          return false;
        }
        var url = '/rollback/'+time;
        var rollbackBtn = $("#rollback");
        rollbackBtn.prop("disabled", true);
        $.ajax({
          url: url,
          type: 'get',
          success: function (json) {
            rollbackBtn.prop("disabled", false);
            window.location = '/';
          },
          error: function (json) {
            rollbackBtn.prop("disabled", false);
            window.location = '/';
          }
        });
        return false;
      }
    </script>
  </body>
</html>